.box{
    width: 600px;
    border: 2px solid slateblue;
    height: 200px;
    overflow: scroll;
    overflow-x:hidden;
    
}
.box2{
    width: 600px;
    border: 2px solid red;
    height: 350px;
    overflow: auto;
}
.new{
    width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}