*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    padding-left: 50px;
    padding-right: 50px;
}
label{
    display: block;
    margin-top: 10px;
}
section h3{
    margin-top: 25px;
}
section > form{
    margin-top: 30px;
}
section > form > label > input {
    outline: none;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 300px;
}
section > form > label > #email{
    margin-left: 5px;
}
section > form > label > #name {
    margin-left: 2px;
}
section > form > fieldset {
    margin-top: 20px;
}
section form label .food{
    margin-left: 10px;
}
section form fieldset textarea {
    height: 100px;
    width: 50%;
    resize: none;
    outline: none;
    
}
section form .submit {
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    
}
section form .reset {
    padding:2px 5px;
    font-size: 15px;
}